[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 960px;
  font-family: 'PT Sans';
}

header {
  color: white;
  background-color: #393939;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
}

section {
  text-align: center;
  background: #F5F5F5;
}

h3 {
  background-color: #EFC30B;
  color: #393939;
  font-family: 'Oswald';
  margin: 20px 0;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  font-size: 18px;
}

.story {
  text-align: left;
  display: inline-block;
  max-width: 254px;
  vertical-align: top;
  font-size: 14px;
  margin-top: -15px;
}

section img {
  display: inline-block;
  vertical-align: middle;
}

section .rendered, section textarea {
  display: inline-block;
  vertical-align: top;
}

section .rendered {
  width: 330px;
  text-align: left;
}

section textarea {
  width: 300px;
  margin: 0 20px;
}

ul.jerks {
  list-style-type: none;
  padding-bottom: 20px;
}

ul.jerks img {
  display: block;
}

ul.jerks li {
  display: inline-block;
  margin: 0 20px;
}

footer {
  position: relative;
  height: 90px;
  background-color: #EFC30B;
}

footer .bw-attribution {
  position: absolute;
}

#forkongithub a {
  background:#00BFD4;
  color:#fff;
  text-decoration:none;
  font-family:arial, sans-serif;
  text-align:center;
  font-weight:bold;
  padding:5px 40px;
  font-size:1rem;
  line-height:2rem;
  position:relative;
  transition:0.5s;
}

#forkongithub a::before,#forkongithub a::after {
  content:"";
  width:100%;
  display:block;
  position:absolute;
  top:1px;
  left:0;
  height:1px;
  background:#fff;
}

#forkongithub a::after {
  bottom:1px;
  top:auto;
}

@media screen and (min-width:800px) {
  #forkongithub {
    position:absolute;
    display:block;
    top:0;
    right:0;
    width:200px;
    overflow:hidden;
    height:200px;
  }
  #forkongithub a {
    width:200px;
    position:absolute;
    top:60px;
    right:-60px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    box-shadow:4px 4px 10px rgba(0,0,0,0.8);
  }
}
