nav {
  font-family: "Helvetica Neue",Arial,sans-serif;
}

nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav .options {
  border-color: #999;
  border-color: rgba(0,0,0,.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  background-clip: padding-box;
  margin-top: 7px;
  position: relative;
}

nav, nav a {
  color: #333;
  text-decoration: none;
}

nav a {
  display: block;
}

nav li {
  list-style-type: none;
  margin: 0;
}

nav li.active {
  font-weight: bold;
}

nav li.sub a, nav li.sub.disabled {
  padding: 0 15px;
  line-height: 30px;
}

nav li.sub.disabled {
  color: #ccc;
}

nav li:not(.disabled).sub:hover, nav li:not(.disabled).sub:hover a {
  color: #fff;
  background-color: #2271a9;
}

nav fieldset {
  border: none;
  border-bottom: 1px solid;
  padding: 4px 0;
  margin: 0;
}

nav fieldset:last-child {
  border-bottom: none;
}

nav .options:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #aaa;
  border-bottom-color: rgba(0,0,0,.2);
  content: '';
  position: absolute;
  left: 20px;
  top: -6px;
  width: 0;
  height: 0;
}

nav .options:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  content: '';
  position: absolute;
  left: 21px;
  top: -5px;
  width: 0;
  height: 0;
}

nav dl, dd, dt {
  margin: 0;
  padding: 0;
}

nav li[data-nav="profile"] a {
  line-height: 20px;
  padding-left: 57px;
  background-image: url(http://findicons.com/files/icons/2226/matte_basic/32/user_yellow.png);
  background-repeat: no-repeat;
  background-position: 15px center;
}
