nav {
  color: white;
  background-color: #232323;
  font-family: Helvetica,Arial,Verdana,sans-serif;
  font-size: 16px;
  line-height: 21px;
  padding: 19px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li.main {
  display: inline-block;
  margin-left: 25px;
}

nav li.main:first-child {
  margin-left: 0;
}

nav li[data-nav="home"] a {
  text-indent: -999em;
  display: inline-block;
  background-image: url(/showpiece/img/examples/hulu_icons.png);
  background-repeat: no-repeat;
  background-position: -262px -80px;
  height: 21px;
  width: 60px;
}

nav summary {
  cursor: default;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
}

nav summary:after {
  content: '\2228';
  padding-left: 10px;
}

nav summary::-webkit-details-marker {
  display: none;
}

nav summary:focus {
  outline: none;
}

nav li.main > details summary:hover, nav li.main > a:hover, nav details[open] > summary {
  color: #66AA33;
}

nav a {
  color: #aaa;
  text-decoration: none;
}

nav li.sub a, nav legend a {
  display: block;
}

nav legend a {
  padding-left: 4px;
}

nav legend {
  position: relative;
  width: 100%;
  margin-left: -2px;
}

nav li.sub a:hover, nav legend a:hover {
  color: #fff;
  background-color: #592;
  border-radius: 2px;
}

nav ul.sub a {
  padding: 0 16px;
}

nav fieldset {
  border: 0;
  padding: 0;
  margin: 10px;
  margin-left: 0;
  display: inline-block;
}

nav fieldset[data-nav="misc"] {
  display: block;
  border-top: 1px solid #aaa;
  padding-top: 15px;
  margin-top: 5px;
}

nav fieldset[data-nav="misc"] ul {
  column-count: 2;
  -moz-column-count:2;
  -webkit-column-count:2;
}

nav fieldset[data-nav="misc"] .sub a {
  padding: 0 4px;
}

nav .options {
  position: absolute;
  padding: 46px 10px 5px 15px;
  margin-left: -15px;
  background-color: rgba(35,35,35, 0.9);
  top: 0;
  border: 2px solid #222;
  border-radius: 7px;
  box-shadow: 0 0 8px black;
}
