nav {
  color: #000;
  font-size: 11px;
  font-family: arial,helvetica,sans-serif;
}

nav ul.main {
  margin: 0;
  list-style: none;
}

nav li.main {
  background: #3f84a4;
  border: 1px solid #085478;
  border-top: 0;
  font-size: 13px;
  line-height: 28px;
  float: left;
  margin-right: 3px;
  color: #fff;
  display: block;
  padding: 0 20px;
  cursor: pointer;
}

nav li.main.pregnant {
  padding: 0;
}

nav details {
  display: block;
}

nav li.main:not(.pregnant):hover,
nav details:hover,
nav details[open],
nav details.open, /* polyfill */
nav .options {
  color: black;
  background: #eff8fb;
  border: 1px solid #3f84a4;
  -webkit-box-shadow: #333 0 0 10px;
  -moz-box-shadow: #333 0 0 10px;
  box-shadow: #333 0 0 10px;
  clip: rect(0 1000px 1000px -10px);
}

nav a {
  text-decoration: none;
}

nav li.sub a {
  color: #000;
  display: block;
  padding: 0 12px;
}

nav summary {
  padding: 0 20px;
}

nav summary:focus {
  outline: none;
}

nav .options {
  position: absolute;
  margin-left: -0.5px; /* align borders */
  clip: rect(0px, 1000px, 1000px, -10px);
}

nav fieldset {
  display: inline-block;
  border: 0;
  border-right: 1px solid #b5d8eb;
}

nav fieldset:not([data-nav="auxiliary"]) a:hover {
  background: #3f84a4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
}

nav fieldset + fieldset:not([data-nav="auxiliary"]) {
  border-right: none;
}

nav fieldset[data-nav="auxiliary"] {
  display: block;
  border-right: none;
}

nav fieldset[data-nav="auxiliary"] a {
  color: #085478;
  display: inline;
}

nav fieldset[data-nav="auxiliary"] a:before {
  content: "+";
}
